html{
    padding: 30px;
    background-color: #ebebeb;
}

body{
    display:grid;
    width: 800px;
    margin: auto;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 100px;
    height: auto;
}

.form-section-1{
    line-height: 20px;
    border: 1px solid silver;
    border-radius: 10px;
}

.question-header{
    background-color: #beeb36;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 5px;
}

.question-container-1{
    display: grid;
    grid-template-columns: 20% 35% auto;
    grid-column-gap: 10px;

}

label{
    padding-left: 10px;
}

.item-1{
    width: max-content;
    grid-column-start: 2;
    grid-column-end: 4;
}

.item-2{
    grid-column-start: 2;
    grid-column-end: 3;
}

input[type=text]{
    width: 412px;
    border: none;
    border-bottom: 1px solid black;
}

input[type=number]{
    border: none;
    border-bottom: 1px solid black;
}

.form-section-2{
    line-height: 20px;
    border: 1px solid silver;
    border-radius: 10px;
}

.question-container-2{
    display: grid;
    grid-template-columns: 20% 35% auto;
    grid-column-gap: 10px;
}

.selection{
    display: grid;
    grid-template-columns: repeat(4,5% 17%);
    grid-column-gap: 10px;
}

ol{
    line-height: 1.5em;
}

.form-section-3{
    line-height: 20px;
    border: 1px solid silver;
    border-radius: 10px;
}

.form-section-4{
    line-height: 20px;
    border: 1px solid silver;
    border-radius: 10px;
}

.selection-2{
    display: grid;
    grid-template-columns: repeat(3,5% 17%);
    grid-column-gap: 10px;
}

.form-section-5{
    line-height: 20px;
    border: 1px solid silver;
    border-radius: 10px;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic
}

.contact-details{
    display: grid;
    grid-template-columns: auto auto;
}

#Submit{
    font-size: 1.2em;
}

#Comment{
    font-family: Arial, Helvetica, sans-serif;
}